In [192]:
import numpy as np
import pandas as pd

In [193]:
df = pd.read_csv("scrape_data.csv")
df.head(5)

,Unnamed: 0,mileage,first registration,power,gearbox,engine size,gears,fuel type,fuel consumption,co₂-emissions,...,previous owner,emission class,non-smoker vehicle,price,VAT,equipment,contact_name,contact_number,contact_address,company_name
0,audi a4 ohne tüv,"450,000 km",09/1995,92 kw (125 hp),manual,"1,781 cc",5.0,regular/benzine 91,0 l/100 km (comb.),0 g/km (comb.),...,2.0,euro 1,yes,€ 390.,NaN,"air conditioning,\nautomatic climate control,\...",team verkauf,+49 (0)5365 - 96062,"neue straße 53,\n38444 wolfsburg heiligendorf, de",hoffmann automobile
1,bmw 520 baureihe 5 limo 520i,"202,000 km",09/1999,110 kw (150 hp),manual,"1,991 cc",5.0,gasoline,9 l/100 km (comb.),215 g/km (comb.),...,5.0,euro 4,yes,€ 999.,NaN,"air conditioning,\nArmrest,\nautomatic climate...",hermez mersa,+49 (0)7151 - 2513006,"mercedesstrasse 1,\n71384 weinstadt-endersbach...",mersa automobile
2,ford mondeo turnier trend klimaanlage cd/radio,"370,000 km",02/2003,85 kw (116 hp),manual,"1,998 cc",5.0,diesel,6.3 l/100 km (comb.),167 g/km (comb.),...,5.0,euro 3,yes,"€ 1,000.",NaN,"air conditioning,\nArmrest,\nelectrical side m...",herr beltekoglu,+49 (0)7162 - 2083790,"postweg 11,\n73084 salach, de",autohaus enes gmbh & co.kg
3,mercedes-benz a 160 160 avantgarde ba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,€ 800.,NaN,NaN,NaN,NaN,NaN,NaN
4,"opel astra g lim. comfort 1.6 8v ""sportpaket""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [194]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81 entries, 0 to 80
Data columns (total 30 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           81 non-null     object
 1   mileage              33 non-null     object
 2   first registration   33 non-null     object
 3   power                33 non-null     object
 4   gearbox              33 non-null     object
 5   engine size          33 non-null     object
 6   gears                33 non-null     float64
 7   fuel type            33 non-null     object
 8   fuel consumption     33 non-null     object
 9   co₂-emissions        33 non-null     object
 10  colour               33 non-null     object
 11  manufacturer colour  33 non-null     object
 12  radio                0 non-null      float64
 13  body type            33 non-null     object
 14  type                 33 non-null     object
 15  seats                33 non-null     float64
 16  doors                33 non-null     float64
 17  country version      33 non-null     object
 18  offer number         33 non-null     object
 19  model code           33 non-null     object
 20  previous owner       33 non-null     float64
 21  emission class       33 non-null     object
 22  non-smoker vehicle   33 non-null     object
 23  price                69 non-null     object
 24  VAT                  2 non-null      float64
 25  equipment            34 non-null     object
 26  contact_name         33 non-null     object
 27  contact_number       33 non-null     object
 28  contact_address      33 non-null     object
 29  company_name         33 non-null     object
dtypes: float64(6), object(24)
memory usage: 19.1+ KB

In [195]:
df.drop(["radio"], axis=1, inplace=True)
df.columns

Index(['Unnamed: 0', 'mileage', 'first registration', 'power', 'gearbox',
       'engine size', 'gears', 'fuel type', 'fuel consumption',
       'co₂-emissions', 'colour', 'manufacturer colour', 'body type', 'type',
       'seats', 'doors', 'country version', 'offer number', 'model code',
       'previous owner', 'emission class', 'non-smoker vehicle', 'price',
       'VAT', 'equipment', 'contact_name', 'contact_number', 'contact_address',
       'company_name'],
      dtype='object')

In [196]:
df['price'] = df['price'].str.replace(r'€', '')
df['price'] = df['price'].str.replace(r',', '')
df['price'] = df['price'].str.replace(r'.', '')
df['price'] = df['price'].str.replace(r' ', '')
df['price'][0]

/tmp/ipykernel_492448/3669263785.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['price'] = df['price'].str.replace(r'.', '')

'390'

In [197]:
kw_power = []
for power in df["power"]:
    if isinstance(power, str):
        p, _, _, _= power.split(" ")
        kw_power.append(p)
    else:
        kw_power.append(power)

df["power"] = kw_power

In [198]:
df['mileage'] = df['mileage'].str.replace(r'km', '')
df['mileage'] = df['mileage'].str.replace(r',', '')
df['mileage'] = df['mileage'].str.replace(r' ', '')
df['mileage'][0]

'450000'

In [199]:
fr_year = []
for year in df["first registration"]:
    if isinstance(year, str):
        _, p = year.split("/")
        fr_year.append(p)
    else:
        fr_year.append(year)
df["first registration"] = fr_year

In [200]:
df['equipment'] = df['equipment'].str.replace('\n', '')
df['equipment'] = df['equipment'].str.split(',')
df['equipment']

0     [air conditioning, automatic climate control, ...
1     [air conditioning, Armrest, automatic climate ...
2     [air conditioning, Armrest, electrical side mi...
3                                                   NaN
4                                                   NaN
                            ...
76                                                  NaN
77                                                  NaN
78                                                  NaN
79                                                  NaN
80                                                  NaN
Name: equipment, Length: 81, dtype: object

In [201]:
df.head()

,Unnamed: 0,mileage,first registration,power,gearbox,engine size,gears,fuel type,fuel consumption,co₂-emissions,...,previous owner,emission class,non-smoker vehicle,price,VAT,equipment,contact_name,contact_number,contact_address,company_name
0,audi a4 ohne tüv,450000,1995,92,manual,"1,781 cc",5.0,regular/benzine 91,0 l/100 km (comb.),0 g/km (comb.),...,2.0,euro 1,yes,390,NaN,"[air conditioning, automatic climate control, ...",team verkauf,+49 (0)5365 - 96062,"neue straße 53,\n38444 wolfsburg heiligendorf, de",hoffmann automobile
1,bmw 520 baureihe 5 limo 520i,202000,1999,110,manual,"1,991 cc",5.0,gasoline,9 l/100 km (comb.),215 g/km (comb.),...,5.0,euro 4,yes,999,NaN,"[air conditioning, Armrest, automatic climate ...",hermez mersa,+49 (0)7151 - 2513006,"mercedesstrasse 1,\n71384 weinstadt-endersbach...",mersa automobile
2,ford mondeo turnier trend klimaanlage cd/radio,370000,2003,85,manual,"1,998 cc",5.0,diesel,6.3 l/100 km (comb.),167 g/km (comb.),...,5.0,euro 3,yes,1000,NaN,"[air conditioning, Armrest, electrical side mi...",herr beltekoglu,+49 (0)7162 - 2083790,"postweg 11,\n73084 salach, de",autohaus enes gmbh & co.kg
3,mercedes-benz a 160 160 avantgarde ba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,800,NaN,NaN,NaN,NaN,NaN,NaN
4,"opel astra g lim. comfort 1.6 8v ""sportpaket""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [202]:
df.to_csv('clean_data.csv')